body{
    margin: 0;
    font-family: 'Kanit', sans-serif;
    background-color: #f7f7f7;
    /* background-image: url("picture/background.png"); */
    
}
.bg{
    background-image: url("/picture/bgfinal-01.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: bottom right; 
    height: 100%;
}
.bgimg{
    background-image: url("/picture/bgfinal-01.png");

}
.detail{
    background-color: #5bbcd2;
    /* background-color: #ebebeb; */
    display: flex;
    justify-content: center;
}
iframe{
    border-width: 0;
    margin: 30px;
}
.box{
    background-color: #f7f7f7;
    border-radius: 10px;
    margin-top: 8%;
    width: 60%;
}
.plus{
    position: fixed;
    bottom: 15px;
    right: 15px;
}
.plus > img {
    width: 50px;
    height: auto;
}
.backgroundImg{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100%;
}
.pMhee{
    margin-bottom: 40px;
}
p{
    margin: 0;
}
.name{
    font-size: 50px;
}
.layout{
    width: 50%;
    padding-left: 8%;
    padding-top: 5%;
}
.fonts{
    color: rgb(177, 176, 176);
    font-size: 18px;
}
.fonts2{
    color: rgb(177, 176, 176);
    font-size: 12px;    
    font-family: 'Roboto', sans-serif;
}
input{
    border-width: 0px 0px 1px 0px;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 18px;
    outline: none;
    background-color: transparent;
}
.loginBtn{
    display: block;
    background-color: #5bbcd2;
    border-width: 0;
    border-radius: 100px;
    color: white;
    font-size: 18px;
    padding: 10px 25px 10px 25px;
    margin-top: 20px;
    margin-bottom: 30px;
    outline: none;
    cursor: pointer;
}
.forgot{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;    
    color: #5bbcd2;  
    font-size: 12px;
    cursor: pointer;
}
span{
    font-family: 'Roboto', sans-serif;    
    color: rgb(177, 176, 176);
    font-size: 12px;          
}

/* pop-up */

.inputPop{
    width: 100%;
    /* padding: 12px 20px; */
    margin: 10px 0;
    display: inline-block;
}
.headRegis{
    color: black;
    font-size: 30px;
    margin-bottom: 20px;
}

/* Set a style for all buttons */
.registerBtn {
    background-color: #5bbcd2;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    padding: 10px 25px;
    margin: 8px 0;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    outline: none;
}
.registerBtn , .loginBtn:hover {
    opacity: 0.8;
}
.popBtnLayout{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

/* Extra styles for the cancel button */
.cancelbtn {
    color: #5bbcd2;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}


.container {
    padding: 30px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    font-family: 'Roboto', sans-serif;
    color: rgb(177, 176, 176);
    font-size: 12px; 
    background-color: #fefefe;
    margin: auto auto auto auto;
    border-width: 0;
    border-radius: 10px;
    width: 30%;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
/* @media screen and (max-width: 800px) {
   body{
    background-size: auto 45%;
   }
} */

/* nav */

#navbar {
    background-color: #f7f7f7;
    box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.2);
    position: fixed;
    top: -100px;
    width: 100%;
    display:block;
    transition: top 0.3s;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }